Welcome to "Rock, Paper, Scissors."

<form action="/registration" method ="post">
1. Please enter your name 
<input type="text" name="player_name">

2. Please select whom you would like to play against.
<select name ="opponent">
    <option value ="Computer">Computer</option>
    <option value ="Another Player">Another Player</option>
</select>

<input type="submit" value="submit">
</form>
