<h1>Result.</h1>

<p>You chose <%= @weapon %>.

<p>The <%= session[:opponent] %> chose <%= @computer_choice %>.

<p>The winner is ... <%= @result %>

<form action="/reset" method="post">

<input type="submit" value="Let's Play Again">

</form>